<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>My Stories</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://cdn.ckeditor.com/ckeditor5/25.0.0/classic/ckeditor.js"></script>
  <nav class="navbar navbar-default">
    <div class="container">
      <a class="item-home" href="/">
          <p class="navbar-brand">MY STORIES</p>
        </a>
      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <% if(user){ %>
        <li><a class="nav-link" href="/users/logout">Hi! <%= user.username%>, Logout?</a></li>
        <% }else{ %>
        <li><a class="nav-link" href="/users/register">Register</a></li>
        <li><a class="nav-link" href="/users/login">Log in</a></li>
        <%} %>
        <% if(user && user.admin==1){ %>
        <li><a class="nav-link" href="/admin/posts">Admin Area</a></li>
        <% } %>
      </ul>
    </div>
  </nav>

<body>
  <div class="container">
    <%- messages('messages', locals) %>

    <%  if(errors){%>
    <% errors.forEach(err=>{%>
    <div class="alert alert-danger">
      <%=err.msg%>
    </div>
    <% });}%>