<br>
  <br>
  <br>
</div>
<section id="contact2">
  <div class="footer">
    <div class="copyright">
      <p>&copy;Shaharin Ahmed</p>
    </div>
    <div class="info">
      <a class="item" href="/">HOME </a>
      <a class="item" href="/about">ABOUT US </a>
      <a class="item" href="/contact">CONTACT US</a>
    </div>
  </div>
</section>
</body>

</html>